@model List<DigitalBankWCF.Presentation.Models.UsuarioModel>
<!DOCTYPE html>
<html>
<head>
    <title>Usuarios</title>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <link rel="icon" type="image/x-icon" href="~/Img/DigitalBank.ico">


    


    <style>
        body {
            background-image: url(../../Img/FondoPantalla.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            margin: 0;
            padding: 0;
        }
    </style>

</head>
<body>
    <div class="container">
        <h2 id="idusuario" style="color: #0089c7">USUARIOS</h2>

        @if (Model != null && Model.Any())
        {
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title mb-0">LISTA DE USUARIOS</h5>
                        <div>
                            <button type="button" class="btn" style="background: #eb6625; color:white" data-toggle="modal" data-target="#modalAgregarUsuario">
                                <i class="bi bi-person-plus"></i> Adicionar Usuario
                            </button>
                            <button id="exportButton" name="exportButton" type="button" class="btn btn-info" onclick="exportToExcel()">
                                <i class="bi bi-cloud-download"></i> Descargar Excel
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="miTabla" class="table table-bordered table-hover">
                            <thead class="bg-primary text-white">
                                <tr style="text-align:center">
                                    <th>ID</th>
                                    <th>NOMBRE</th>
                                    <th>FECHA NACIMIENTO</th>
                                    <th>SEXO</th>
                                    <th>ESTADO</th>
                                    <th>ACCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var usuario in Model)
                                {
                                    <tr style="text-align:center">
                                        <td>@usuario.IdUsuario</td>
                                        <td>@usuario.Nombre</td>
                                        <td>@usuario.FechaNacimiento</td>
                                        <td>@usuario.Sexo</td>
                                        <td>@usuario.EstadoUsuario</td>
                                        <td>
                                            <button type="button" class="btn" style="background: #eb6625; color:white" onclick="mostrarDetallesUsuario(@usuario.IdUsuario, '@usuario.Nombre', '@usuario.FechaNacimiento', @usuario.Sexo, @usuario.EstadoUsuario)">
                                                <i class="bi bi-pencil"></i> Editar
                                            </button>
                                            <button type="button" class="btn btn-secondary" onclick="eliminarUsuario(@usuario.IdUsuario, '@usuario.Nombre')">
                                                <i class="bi bi-trash"></i> Eliminar
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 })" tabindex="-1" aria-disabled="true">Anterior</a>
                        </li>
                        @for (int i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                            </li>
                        }
                        <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })">Siguiente</a>
                        </li>
                    </ul>
                </nav>
            </div>

            
        }
        else
        {
            <p class="text-danger">No se encontraron usuarios.</p>
        }
    </div>

    <div class="modal fade" id="confirmacionEliminarModal" tabindex="-1" role="dialog" aria-labelledby="confirmacionEliminarModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmacionEliminarModalLabel">Confirmar eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar" onclick="recargarPagina()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="mensajeNotificacion" class="alert" style="display: none;"></div>
                <div class="modal-body">
                    <span>¿Estás seguro de que deseas eliminar el usuario? </span>
                    <strong><span id="nombreEliminar"></span></strong>
                    <span>con id: </span>
                    <strong><span id="idUsuarioEliminar"></span></strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="recargarPagina()">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmarEliminarBtn">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalAgregarUsuario" tabindex="-1" role="dialog" aria-labelledby="modalAgregarUsuarioLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="agregarUsuarioModalLabel">Añadir Usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" onclick="recargarPagina()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert" id="mensajeAgregado" style="display: none;"></div>
                    <form id="formAgregarUsuario">
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre">
                        </div>
                        <div class="form-group">
                            <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                            <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento">
                        </div>
                        <div class="form-group">
                            <label for="idGenero">Sexo:</label>
                            <select class="form-control" id="idGenero" name="idGenero">
                                <option value="0">Seleccione una opción</option>
                                <option value="1">Femenino</option>
                                <option value="2">Masculino</option>
                                <option value="3">Trans</option>
                                <option value="4">No binario</option>
                                <option value="5">No aplica</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="idEstado">Estado:</label>
                            <select class="form-control" id="idEstado" name="idEstado">
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="recargarPagina()">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="crearUsuario()">Añadir Usuario</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editarUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="editarUsuarioModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarUsuarioModalLabel">Editar Usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="recargarPagina()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert" id="mensajeActualizacion" style="display: none;"></div>
                    <form id="formActualizarUsuario" method="post" action="@Url.Action("ActualizarUsuario", "Home")">
                        <div id="detallesUsuario">
                            <input type="hidden" id="idUsuario" name="idUsuario" value="">
                            <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <input type="text" class="form-control" id="nombre" name="nombre">
                            </div>
                            <div class="form-group">
                                <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                                <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento">
                            </div>
                            <div class="form-group">
                                <label for="idGenero">Género:</label>
                                <input type="text" class="form-control" id="idGenero" name="idGenero">
                            </div>
                            <div class="form-group">
                                <label for="idEstado">Estado:</label>
                                <input type="text" class="form-control" id="idEstado" name="idEstado">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="recargarPagina()">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="guardarCambiosUsuario()">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>

<script>
    var actualizarUsuarioUrl = '@Url.Action("ActualizarUsuario", "Home")';
    var eliminarUsuarioUrl = '@Url.Action("EliminarUsuario", "Home")';
    var adicionarUsuarioUrl = '@Url.Action("AdicionarUsuario", "Home")';
</script>
<script src="~/Scripts/Index.js"></script>